* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

